.main {
    position: relative;
    overflow: hidden;

    @media (max-width: 1200px) {
        margin: 50px 0;
    }
    
    @media (max-width: 960px) {
        margin: 20px 0;
        padding: 20px;
    }

    @media (max-width: 600px) {
        padding: 15px;
    }

    @media (max-width: 500px) {
        margin-top: 50px;
        padding: 0;
    }

    & .allContain {
        height: 90vh;
        display: flex;
        align-items: center;

        @media (max-width: 1200px) {
            height: auto;
            display: block;
        }

        & .textPart {
            padding: 30px;

            @media (max-width: 1200px) {
                padding: 25px;
            }

            @media (max-width: 960px) {
                padding: 20px;
            }

            @media (max-width: 600px) {
                padding: 15px;
            }

            @media (max-width: 500px) {
                padding: 10px;
            }

            & h1 {
                font-weight: 700;
                font-size: 60px;

                @media (max-width: 1200px) {
                    font-size: 56px;
                }

                @media (max-width: 960px) {
                    font-size: 52px;
                }

                @media (max-width: 500px) {
                    font-size: 28px;
                }
            }


            & p {
                margin-top: 30px;
                font-weight: 500;
                font-size: 22px;

                @media (max-width: 1200px) {
                    font-size: 20px;
                }

                @media (max-width: 960px) {
                    font-size: 18px;
                }

                @media (max-width: 500px) {
                    margin-top: 20px;
                    font-size: 12px;
                }
            }

            & .btn {
                display: flex;
                align-items: center;
                margin-top: 30px;

                @media (max-width: 500px) {
                    display: block;
                }

                & button {
                    font-size: 18px;
                    font-weight: 600;
                    padding: 12px 20px;
                    cursor: pointer;
                    border: none;
                    border-radius: 5px;
                    background-color: #0D99FF;
                    color: #fff;

                    & i {
                        font-size: 14px;
                        margin-left: 10px;

                        @media (max-width: 500px) {
                            font-size: 10px;
                        }
                    }

                    @media (max-width: 500px) {
                        width: 100%;
                        padding: 10px;
                        font-size: 16px;
                    }
                }

                & h3 {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    font-size: 22px;
                    color: #0D99FF;
                    margin-left: 30px;

                    & i {
                        margin-right: 10px;
                        font-size: 35px;

                        @media (max-width: 500px) {
                            font-size: 24px;
                        }
                    }

                    @media (max-width: 500px) {
                        justify-content: center;
                        margin-top: 10px;
                        margin-left: 10px;
                        font-size: 20px;
                    }
                }
            }

            & .term {
                color: #b2b7c2;
                font-weight: 400;
                font-size: 14px;
            }

        }

        & .imagePart {

            & img {
                margin-right: -85px;

                @media (max-width: 1200px) {
                    width: 100%;
                }
                
            }
            @media (max-width: 1200px) {
                margin-top: 50px;
            }
        }
    }

    .smokeEffect {
        position: absolute;
        background: linear-gradient(180deg, #91DEFF 0%, #4B57E2 100%);
        opacity: 0.24;
        width: 1440px;
        height: 448px;
        top: 40px;
        border-radius: 200px 500px;
        z-index: -1;
        filter: blur(50px);
    }

    @media (max-width: 600px) {
        .smokeEffect {
            left: 300px;
        }
    }

    @media (min-width: 601px) and (max-width: 960px) {
        .smokeEffect {
            left: 500px;
        }
    }

    @media (min-width: 961px) {
        .smokeEffect {
            left: 710px;
        }
    }

}